@import "../../../templates/b16-tomorrow-dark.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	min-width: 100%;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

@layer components {
	.container-main {
		background-size: 400% 400%;
		animation: AnimationName 14s ease infinite;
	}
}

@keyframes AnimationName {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}